html{
    --main-color:rgb(46, 150, 136);
}

.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);


}
.cards{
    margin-top:5rem;
}

header{
     /* background-color: rgba(100, 112, 119, 0.877); */
     background-color:var(--main-color) ;
 }

footer{
     background-color: var(--main-color);
 }
 .img-responsive{
    width: 100%;
    height: auto;
}
.social-media{
    display: flex;
    flex-direction: row;
    padding: 1em;
    
}
.icons{
    padding: .5em;
    color: rgb(248, 248, 248);
    padding: 2em;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.icons:hover{
    color:rgb(28, 61, 61) ;
}
 
 