html{
    --main-color:rgb(46, 150, 136);
}

.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);


}
.cards{
    margin-top:5rem;
}

header{
     /* background-color: rgba(100, 112, 119, 0.877); */
     background-color:var(--main-color) ;
 }

footer{
     background-color: var(--main-color);
 }
 