<!DOCTYPE html>
<html lang = "en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/fragment :: head">

</head>
<body class = "bg-light">
<div class="container-fluid shadow p-3 mb-5 bg-white rounded mt-5">
    <div th:replace="fragments/loginfragment::admin"></div>


    <h1>Added Products</h1>
    <form method = "post" >
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>check</th>
                <th>image</th>
                <th >Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>catagory</th>
                <th>update</th>

            </tr>
            </thead>

            <tbody>
            <tr th:each = "medicine: ${medicines}">
                <td>

                    <label th:for = "${medicine.id}" > <input type = "checkbox" name = "medIds" th:value = "${medicine.id}" th:id = "${medicine.id}" style = "width: 30px; height: 30px;"/></label>
                </td>
                <th><img th:src="*{'data:image/jpg;base64,' + {medicine.medImage}}" alt="" style = "width: 100px;"></th>
                <td th:text = "${medicine.medName}"></td>
                <td th:text = "${medicine.medPrice}"></td>
                <td th:text = "${medicine.medDescription}"></td>
                <td th:text = "${medicine.catagory.name}"></td>
                <td><a th:href="@{'/update' + ${medicine.id}}" class = "btn btn-info">update</a></td>




            </tr>

            </tbody>
            <tfoot>

            </tfoot>

        </table>

        <input class="btn btn-danger mt-2" type="submit" value="Delete"/>
        <a class = "btn btn-primary text-center mt-2" th:href = "@{add}"> Add Medicine</a>
    </form>
</div>
</body>
</html>