<!DOCTYPE html>
<html lang = "en"  xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <header th:replace="fragments :: header"></header>
    <div class="container-fluid intro mt-5">
        <div class="container p-5">
            <h1 class = "fw-bold" th:text = "${title}"></h1>
        </div>

    </div>

    <div class="container mt-5">
        <h1 class  = "text-white text-center">Categories</h1>
        <div class="add-message" th:unless = "${medicines} and ${medicines.size()}">
            <p class = "text-center text-light" >
                <a th:href = "@{home/add}"> <i class="fa-3x m-4 far fa-plus-square"></i> </a>Please Add A Catagory</p>
        </div>

        <div class="row">
            <div th:each = "medicine: ${medicines}"  class="col-4 mt-5">
                <div class="col-md">
                    <div class="card">
                        <div style = "width: 100%; ">
                            <div class="hovereffect">
                                <img class="img-responsive" th:src = "@{/images/med1.jpg}" alt="">
                                <div class="overlay">
                                    <h2>Hover effect 2</h2>
                                    <a class="info" href="#">link here</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 th:text = "${medicine.medName}" class="fw-bold card-title">Card title</h5>
                            <p  th:text = "${medicine.medDescription}" class = "card-text">Some make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>


</body>
</html>