
<!doctype html>
<html lang = "en"  xmlns:th = "http://www.thymeleaf.org/">
<head >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>User</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard/">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap"
        rel="stylesheet"/>
  <script src="https://kit.fontawesome.com/83af90778b.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" th:href = "@{/css/dashboard.css}"/>
  <link rel = "stylesheet" th:href = " @{/css/styles.css}"/>
</head>
<body class = "bg-dark text-light">

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Ethio Pharmacy</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
      <form name="logoutform" th:action="@{/logout}" method="post" >
    <div class="nav-item text-nowrap">
      <input type="submit" class="nav-link px-3" style="color:black" value="Logout">
    </div>
      </form>
  </div>
</header>

<div class="container ">
  
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                            <span data-feather="home">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home" aria-hidden="true"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">

              <div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">

                      <a class="btn btn-info nav-link" href="#"  data-toggle="collapse">
                            <span data-feather="file">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file" aria-hidden="true"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            </span>
                          Orders</a>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" th:href="@{/userdashboard/orders}">Ordered Medicines</a></li>
                      <li><a class="dropdown-item" th:href="@{/orders/current}">Order Now</a></li>

                  </ul>
              </div>
          </li>
          <li class="nav-item">

            <div class="dropdown">
                <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">

                    <a class="btn btn-info nav-link" href="#"  data-toggle="collapse">
                          <span data-feather="file">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file" aria-hidden="true"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                          </span>
                        Carts</a>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" th:href="@{/userdashboard/orders}">Carted Medicines</a></li>
                    <li><a class="dropdown-item" th:href="@{/orders/current}">Cart Anthor</a></li>

                </ul>
            </div>
        </li>
          
          <li class="nav-item">
              <div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <a class="btn btn-info nav-link" data-toggle="collapse" href="#">
                            <span data-feather="shopping-cart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart" aria-hidden="true"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                            </span>
                          Product
                      </a>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" th:href="@{/home/habesha}">Habesha</a></li>
                      <li><a class="dropdown-item" th:href="@{/home/std}">Stds</a></li>
                      <li><a class="dropdown-item" th:href="@{/home/eyecare}">Eye care</a>
                      <li><a class="dropdown-item" th:href="@{/home/diabetes}">Diabetes</a></li>
                  </ul>
              </div>
          </li>
        </ul>
      </div>
    </nav>

  </div>
  <table class="table table-light caption-top" style="margin:0 10em ;">
    <caption style="color:aliceblue">Ordered Medicines</caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">MEDICINE NAME</th>
        <th scope="col">MEDICINE CATEGORY</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="order:${orders}">
        <th scope="row">1</th>
        <td th:text="${order.medName}"></td>
        <td th:text="${order.medCatagory}"></td>
    </tr>
    </tbody>
</table>
<table class="table table-light caption-top" style="margin:0 10em ;">
  <caption style="color:aliceblue">Carted Medicines</caption>
  <thead>
  <tr>
      <th scope="col">#</th>
      <th scope="col">MEDICINE NAME</th>
      <th scope="col">MEDICINE CATEGORY</th>
      <th scope="col">MEDICINE QUANTITY</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="item:${carts}">
      <th scope="row">1</th>
      <td th:text="${item.medName}"></td>
      <td th:text="${item.medPrice}"></td>
      <td th:text="${item.quantity}"></td>
  </tr>
  </tbody>
</table>
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script th:src="@{js/dashboard.js}"></script>
</body>
</html>